#siri {
  font-size: 100px;
  position: absolute;
  top:300px;
  left:570px;
}

#sound1{
  volume:0.7;
}

#sound2{
  volume:0.55;
}

#sound3{
  volume:0.43;
}
#sound4{
  volume:0.23;
}
#sound5{
  volume:0.1;
}
#sound6{
  volume:0.4;
}

#img1{
  position: absolute;
  top: 0px;
  right: 40px;
  opacity: 0.5;
}
